.toolbar-button-container {
  fill: gray;
  display: flex;
  align-items: center;
}

.toolbar-button-container.active {
  fill: black;
}

.MuiSvgIcon-root {
  fill: inherit !important;
}

.public-DraftStyleDefault-ltr {
  text-align: inherit;
}

.text-align-left {
  div {
    text-align: left !important;
  }
}

.text-align-center {
  div {
    text-align: center !important;
  }
}

.text-align-right {
  div {
    text-align: right !important;
  }
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-30 {
  font-size: 30px;
}