.demo-editor {
  margin: 0 8px;
}

.rdw-inline-wrapper, .rdw-option-wrapper, .rdw-fontsize-wrapper, .rdw-fontsize-dropdown, .rdw-text-align-wrapper, .rdw-link-wrapper {
  order: 2;
}

.rdw-editor-toolbar {
  justify-content: space-evenly;
}